@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-wrap: break-word;
  background-color: $bg;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #242424;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-inline-start: 0;
}
ul::-webkit-scrollbar {
  display: none;
}

input {
  line-height: 2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  border: 2px solid $border;
}

input:focus {
  outline: none;
  border: 2px solid $lightblue;
}

textarea {
  border-radius: 8px;
  line-height: 1.6;
  font-size: 20px;
  padding: 10px;
  display: block;
  width: 100%;
  min-height: 180px;
  border: 2px solid $border;
  margin-bottom: 10px;
}

textarea:focus {
  outline: none;
  border: 2px solid $lightblue;
}

header {
  font-size: 1.4rem;
  top: 0;
  width: 100%;
  z-index: 20;
  position: relative;
}

header h1 {
  padding: 10px 80px 10px 10px;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 300;
}

.nav {
  padding: 0 10px;
}

.nav p {
  font-size: 14px;
  padding: 0 10px;
}

.menu {
  position: fixed;
  background-color: $white;
  width: 320px;
  height: 100%;
  padding: 60px 20px;
  top: 0;
  right: -330px;
  box-shadow: $menu-shadow;
}

.menu a {
  font-size: 22px;
}

.open {
  position: fixed;
  transition: all 0.3s;
  width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  transform: translateX(-320px);
  z-index: 200;
}

.open::before {
  content: "";
  background-color: $shadow;
  width: 3200px;
  height: 100%;
  position: fixed;
  right: -320px;
}

.menu a {
  display: block;
  margin: 20px 10px;
  font-weight: bold;
}

main {
  flex: 1;
  align-items: center;
  text-align: center;
  margin: 30px auto 100px;
}

.circle {
  border-radius: 50%;
  background-image: url("/loading.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

footer {
  display: block;
  text-align: center;
  padding: 10px 0;
  line-height: 1.6;
}

footer h6 {
  display: inline-block;
  justify-content: start;
  margin: 0 2px;
}

@media (min-width: $breakpoint) {
  .menu {
    right: -20px;
  }
  .open {
    transform: translateX(0px);
  }
  .open::before {
    display: none;
  }
  .icon {
    display: none;
  }

  main {
    padding-right: 320px;
    padding-left: 20px;
  }
  footer {
    padding-right: 320px;
  }
}
