.container {
  min-height: 80vh;
  padding: 0 10px;
  width: 100%;
}

.image {
  margin: 20px 0 30px;
}
.button {
  background: linear-gradient(
    90deg,
    rgb(0, 184, 255) 0%,
    rgb(0, 128, 255) 100%
  );
  padding: 12px 20px;
  margin: 10px;
  display: inline-block;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.note {
  line-height: 2;
  font-size: 14px;
  padding: 20px 10px;
  text-align: center;
}
@media (max-width: 600px) {
  .note {
    font-size: 12px;
  }
}

.description {
  line-height: 1.8;
  text-align: center;
  margin: 10px 0;
}

.search {
  padding: 30px 0;
  margin: 20px 0;
}
.guide {
  margin: 40px 0 20px;
}

.item {
  text-align: left;
  margin: 40px 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  opacity: 0.8;
}

.item:hover {
  opacity: 1;
  cursor: pointer;
}

.grid {
  margin: 10px 0 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  padding: 20px 20px;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: calc(50% - 10px);
  display: block;
  background-color: white;
}

.card2 {
  margin: 5px;
  padding: 20px 20px;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  display: block;
  background-color: white;
  width: calc(100% - 10px);
}

.disabled {
  background-color: #eaeaea;
}
.card h2 {
  margin-bottom: 10px;
  line-height: 1.6;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
  }
  .card {
    width: calc(100% - 10px);
  }
}

@media (min-width: 1400px) {
  .card {
    width: calc(33% - 10px);
  }
}

.loading {
  margin: 120px auto;
  position: "relative";
  width: 100%;
}
