$box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
  rgb(209, 213, 219) 0px 0px 0px 1px inset;

$menu-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$border: #dedede;

$gray: #999;

$white: #fff;

$bg: #f7f8fb;

$blue: rgb(0, 128, 255);

$lightblue: rgb(0, 184, 255);

$shadow: rgba(0, 0, 0, 0.4);

$breakpoint: 1001px;
